:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* colors */
  --first-color: #212121;
  --descr-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;
  /* background colors; */
  --footer-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  /* grid items */
  --items: 1;
  --indent: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--first-color);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*
===================================
-= Grid for collection of elements =-
===================================
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/*
===================================
-= Buttons =-
===================================
*/
.button {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.button--light {
  color: var(--first-color);
  background-color: var(--second-bg-color);
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--light:hover, .button--light:focus {
  color: var(--second-color);
  background-color: var(--activ-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.button--dark {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  color: var(--second-color);
  background-color: var(--activ-color);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--dark:focus, .button--dark:hover {
  color: var(--first-color);
  background-color: var(--second-bg-color);
}

.button--active {
  padding: 6px 25px;
  color: var(--second-color);
  background-color: var(--activ-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/*
^==================================
^-= Social icons =-
^==================================
*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: var(--second-color);
  background-color: var(--activ-color);
}

.social__footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon-footer {
  fill: var(--second-color);
}

/* Logo */
.logo {
  color: var(--activ-color);
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
@media screen and (max-width: 767.98px) {
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__half-logo--light {
  color: #000;
}

.logo__header {
  margin-right: 93px;
}
@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}

.logo__half-logo--dark {
  color: var(--second-color);
}

.logo__footer {
  display: block;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    text-align: left;
  }
}

/*
==================================
-= Modal form =-
==================================
*/
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-color);
}

.form__group {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--descr-color);
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid var(--activ-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
  fill: var(--first-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: var(--activ-color);
}

.form__textarea {
  resize: none;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
  border-color: var(--activ-color);
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox style */
.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-bottom: 30px;
}

.custom-checkbox-icon {
  fill: var(--second-color);
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 2px solid var(--first-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .custom-checkbox {
  outline: 2px solid var(--activ-color);
}

.checkbox:checked + .custom-checkbox {
  outline: 2px solid var(--activ-color);
  background-color: var(--activ-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.form__description {
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--descr-color);
}
@media screen and (min-width: 1200px) {
  .form__description {
    font-size: 14px;
  }
}

.terms {
  color: var(--activ-color);
  text-decoration: underline;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  height: 609px;
  border-radius: 4px;
  padding: 40px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal__close-btn {
  display: block;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
  fill: var(--activ-color);
}

/* Buttons */
.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__buttons {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  margin-right: 8px;
}
@media screen and (max-width: 767.98px) {
  .portfolio-button {
    margin-bottom: 15px;
  }
}

.menu-toggle {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    border: none;
    background-color: transparent;
  }
}

.menu-toggle__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
.menu-toggle__ico:hover {
  fill: var(--activ-color);
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--second-color);
  padding: 10px 15px 48px 40px;
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__contacts {
  width: 100%;
  margin-top: auto;
}

.mobile-menu__nav .mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 32px;
}

.mobile-menu__nav .mobile-menu__link--active {
  color: var(--activ-color);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--activ-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts .mobile-menu__item {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--descr-color);
}

.mobile-menu__contacts .mobile-menu__item:first-child {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: var(--activ-color);
  margin-bottom: 32px;
}

.mobile-menu_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu_socials .mobile-menu__item {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: var(--activ-color);
}
@media screen and (man-width(320px)) {
  .mobile-menu_socials .mobile-menu__item {
    font-size: 12px;
  }
}

.mobile-menu_socials .mobile-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu_socials .mobile-menu__item:not(:first-child) {
  padding-left: 10px;
}

/* Navigation */
.navigation {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: var(--activ-color);
}
.navigation__link:focus {
  color: var(--activ-color);
}
.navigation__link--active {
  color: var(--activ-color);
}
.navigation__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--activ-color);
}

/*
==================================
-= Header section =-
==================================
*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Mail & Phone */
.header__list {
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__mailphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--descr-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__mailphone {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__mailphone:hover, .header__mailphone:focus {
  color: var(--activ-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .header__icon {
    margin-right: 8px;
  }
}

/*
===================================
-= Hero section =-
===================================
*/
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  min-width: 320px;
  background-color: var(--footer-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_sm.webp) 1x);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_sm.webp) 1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_sm@2x.webp) 1x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_sm@2x.webp) 1x);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_md.webp) 1x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_md.webp) 1x);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_md@2x.webp) 1x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_md@2x.webp) 1x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lg.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_lg.webp) 1x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_lg.webp) 1x);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lg@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set(url(../images/hero/bg-hero_lg@2x.webp) 1x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_lg@2x.webp) 1x);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

/*
==================================
-= Feauteres section =-
==================================
*/
@media screen and (min-width: 768px) {
  .features__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    --items: 4;
  }
}
.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  height: 120px;
  background: var(--second-bg-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__inner {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__inner {
    width: 270px;
  }
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: decimal-round(strip-unit(16px)/strip-unit(14px), 2);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}
.features__description {
  color: var(--descr-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/*
==================================
-= Section About =-
==================================
*/
.about {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}
@media screen and (max-width: 767.98px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}

.about__item {
  --items: 3;
  position: relative;
}
.about__item::before {
  content: "";
  display: block;
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.about__subtitle {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-color);
}

/*
==================================
-= Our team section =-
==================================
*/
.our-team {
  background-color: var(--second-bg-color);
}
.our-team__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .our-team__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    --items: 4;
  }
}
.our-team__item:last-child {
  margin-right: 0px;
}
.our-team__name {
  color: var(--first-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.our-team__position {
  color: var(--descr-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.our-team__pic {
  width: 100%;
}
.our-team__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*
==================================
-= Regular customers section =-
==================================
*/
.regular-customers__item {
  --items: 2;
}
@media screen and (min-width: 768px) {
  .regular-customers__item {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__item {
    --items: 6;
  }
}
.regular-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__link:hover, .regular-customers__link:focus {
  color: var(--activ-color);
  border-color: var(--activ-color);
}
.regular-customers__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
^==================================
^-= Portfolio section =-
^==================================
*/
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Slider */
.portfolio__slider {
  position: relative;
  overflow: hidden;
}

.portfolio__hidden-description {
  position: absolute;
  width: 450px;
  height: 294px;
  left: 0;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__hidden-description {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__hidden-description {
    width: 370px;
    height: 294px;
  }
}

.portfolio__link:hover .portfolio__hidden-description,
.portfolio__link:focus .portfolio__hidden-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__name {
  margin-bottom: 4px;
  color: var(--first-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio__description {
  color: var(--descr-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --items: 1;
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    --items: 3;
  }
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

/*
^==================================
^-= Footer section =-
^==================================
*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
}

.address {
  color: var(--second-color);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 767.98px) {
  .address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.42px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  color: var(--activ-color);
}

@media screen and (min-width: 1200px) {
  .footer__list {
    width: 231px;
  }
}

.address__item {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (max-width: 767.98px) {
  .join {
    margin-bottom: 60px;
  }
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__form {
  color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  color: #ffffff;
  outline: transparent;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  position: relative;
  padding: 10px 62px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--second-color);
  border-color: transparent;
  cursor: pointer;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */