:root {
  /* font */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* colors */
  --first-color: #212121;
  --descr-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;

  /* background colors; */
  --footer-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;

  /* grid items */
  --items: 1;
  --indent: 30px;
}