/* Logo */
.logo {
  color: var(--activ-color);
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;

  @include mq(desktop) {
    font-size: 26px;
  }
}

.logo__half-logo--light {
  color: #000;
}

.logo__header {
  margin-right: 93px;

  @include mq(tablet) {
    margin-right: 88px;
  }
}

.logo__half-logo--dark {
  color: var(--second-color);
}

.logo__footer {
  display: block;
  text-align: center;
  margin-bottom: 28px;

  @include mq(desktop) {
    text-align: left;
  }
}
