/* Buttons */
.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;

  @include mq(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  @include mq(mobile-only) {
    margin-bottom: 15px;
  }

  margin-right: 8px;
}
