/*
^==================================
^-= Footer section =-
^==================================
*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  // outline: 1px solid red;

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    margin-bottom: 0;
  }
}

.footer__tablet-wrapper {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    margin-bottom: 60px;
  }

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    margin-bottom: 0;
  }
}

.footer__address {
  // outline: 1px solid green;
}

.address {
  color: var(--second-color);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;

  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.42px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--activ-color);
  }
}

.footer__list {
  @include mq(desktop) {
    width: 231px;
  }
}

.address__item {
  display: block;
  text-align: center;

  @include mq(desktop) {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.join {
  // outline: 1px solid green;

  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 20px;

    @include mq(desktop) {
      text-align: left;
    }
  }
}

.subscribe {
  // outline: 1px solid green;
  @include mq(desktop) {
    margin-left: auto;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 20px;

  @include mq(desktop) {
    text-align: left;
  }
}

.subscribe__form {
  color: var(--second-color);

  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mq(desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;

  color: #ffffff;
  outline: transparent;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;

  margin-bottom: 20px;

  @include mq(tablet-only) {
    width: 450px;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  position: relative;
  padding: 10px 62px 10px 28px;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--second-color);
  border-color: transparent;

  cursor: pointer;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  fill: currentColor;

  transform: translateY(-50%);
}
