/*
==================================
-= Section What do we do =-
==================================
*/
.what-do-we-do {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

.what-do-we-do__item {
  --items: 3;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  }
}

.what-do-we-do__subtitle {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-color);
}
